body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #333;
}

nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 4rem;
  background-color: #55a0aa;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  margin-right: 3rem;
  font-size: 1.25rem;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #cc0eee;
  cursor: pointer;
}

main {
  min-height: calc(100vh - 9rem);
  background-color: #bbb;
  display: flex;
}

aside {
  width: 30%;
  background-color: #333;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 3rem;
}

footer {
  height: 5rem;
  background-color: #222;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.cardContainer {
  width: 50%;
  padding: 1.25rem;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
  cursor: pointer;
  transition: scale 0.5s ease-in-out;
}

.card:hover {
  scale: 1.1;
}

.title {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.card img {
  width: 100%;
}
