body {
  margin: 0;
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

li {
  margin: 1.25rem 0;
}

nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #55a0aa;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  margin-right: 3rem;
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #cc0eee;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  flex: 1;
  background-color: #bbb;
  box-sizing: border-box;
  padding-block: 7.5rem;
}

main img {
  width: 18.75rem;
  margin: 1.875rem 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio-section > p {
  width: 50%;
  text-align: justify;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: #222;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

button {
  padding: 0.625rem 2.5rem;
  margin: 0.625rem 0;
  border-radius: 0.5rem;
  background-color: #c0b2a0;
  border: transparent;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #74c76d;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}