body {
  margin: 0;
  background-color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #55a0aa;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  margin-right: 3rem;
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #cc0eee;
  cursor: pointer;
}

main {
  width: 100%;
  flex: 1;
  background-color: #bbb;
  display: flex;
}

aside {
  width: 30%;
  background-color: #333;
  margin-top: 4rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 70%;
  padding: 3rem;
  margin-top: 4rem;
}

footer {
  height: 5rem;
  background-color: #222;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.card-container {
  width: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
  cursor: pointer;
  transition: scale 0.5s ease-in-out;
}

.card:hover {
  scale: 1.1;
}

.title {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.card img {
  width: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .card-container {
    width: 50%;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .card-container {
    width: 33%;
  }
}