body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #333;
}

nav {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 2rem;
  background-color: #55a0aa;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

nav a {
  color: black;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 9rem);
  display: flex;
  background-color: #bbb;
}

aside {
  width: 30%;
  background-color: #333;
}

main > section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

footer {
  height: 5rem;
  background-color: #222;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.cardContainer {
  width: 50%;
  padding: 1.25rem;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}

.title {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.card img {
  width: 100%;
}

#contact-section {
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
  background-color: #55a0aa;
}
