html,
body {
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 4rem;
  background-color: #55a0aa;
}

main {
  flex: 1;
  display: flex;
  background-color: #bbb;
}

aside {
  width: 30%;
  background-color: #333;
}

section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 50%;
  padding: 1.25rem;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
}

.title {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.card img {
  width: 100%;
}

footer {
  height: 5rem;
  background-color: #222;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}
